.logo-h {
    width: 180;
}
.logo {
    width: 150;
}
.usdt {
    font-size: 20;
    font-weight: 500;
    color: #555;
}
.snap{
    font-size: 20;
    font-weight: 500;
    color: #7424fb;
}
.price{
    font-size: 72;
    font-weight: 600;
    color: #7424fb;
}
