<ActionBar title="Snapbots">
    <FlexboxLayout alignItems="center" justifyContent="center">
        <Image src="~/assets/images/logo.png"></Image>
    </FlexboxLayout>
</ActionBar>
<ScrollView backgroundColor="#242424">
    <FlexboxLayout
        flexDirection="column"
        flexWrap="nowrap"
        justifyContent="space-between"
    >
        <AbsoluteLayout>
            <StackLayout
                class="container create-account-page"
                top="0"
                left="0"
                width="100%"
            >
                <Label
                    class="title mb-4"
                    textAlignment="center"
                    text="Create your account"
                    textTransform="uppercase"
                ></Label>
                <StackLayout>
                    <FlexboxLayout class="form-group row mb-3">
                        <StackLayout class="col" flexGrow="1">
                            <TextField
                                class="form-control"
                                hint="FIRST NAME"
                                text=""
                            ></TextField>
                        </StackLayout>
                        <StackLayout class="col" flexGrow="1">
                            <TextField
                                class="form-control"
                                hint="LAST NAME"
                                text=""
                            ></TextField>
                        </StackLayout>
                    </FlexboxLayout>
                    <StackLayout class="form-group mb-3">
                        <TextField
                            class="form-control"
                            hint="EMAIL"
                            text=""
                        ></TextField>
                    </StackLayout>
                    <FlexboxLayout class="form-group row mb-3">
                        <StackLayout class="col">
                            <app-nation-select></app-nation-select>
                        </StackLayout>
                        <StackLayout class="col" flexGrow="4">
                            <TextField
                                class="form-control"
                                hint="PHONE NUMBER"
                                text=""
                            ></TextField>
                        </StackLayout>
                    </FlexboxLayout>
                    <StackLayout class="form-group mb-3">
                        <TextField
                            class="form-control"
                            hint="PASSWORD"
                            text=""
                            secure="true"
                        ></TextField>
                    </StackLayout>
                    <StackLayout class="form-group mb-3">
                        <TextField
                            class="form-control"
                            hint="CONFIRM PASSWORD"
                            text=""
                            secure="true"
                        ></TextField>
                    </StackLayout>
                    <StackLayout class="form-group mb-3">
                        <FlexboxLayout
                            class="form-control form-control-qr"
                            alignItems="center"
                            justifyContent="space-between"
                        >
                            <TextField
                                hint="REFERRAL CODE"
                                text=""
                                secure="true"
                                flexGrow="1"
                            ></TextField>
                            <Label
                                class="fa"
                                text="&#xf029;"
                            ></Label>
                        </FlexboxLayout>
                    </StackLayout>
                </StackLayout>
            </StackLayout>
            <!-- <StackLayout class="nation-select" top="100" left="100">
                <ListView [items]="nations">
                    <ng-template let-item="item" let-odd="odd" let-even="even">
                        <FlexboxLayout class="nation-select-item">
                            <Image [src]="item.src" width="30"></Image>
                            <Label [text]="item.text"></Label>
                        </FlexboxLayout>
                    </ng-template>
                </ListView>
            </StackLayout> -->
        </AbsoluteLayout>
        <StackLayout class="container">
            <FlexboxLayout alignItems="center" class="pl-4 pr-4">
                <app-checkbox
                    [options]="{
                        text: 'I agree to all ',
                        class: 'mt-4 mb-4'
                    }"
                ></app-checkbox>
                <Label
                    class="text-white"
                    text="Terms & Conditions"
                    color="#fff"
                    (tap)="checkTap()"
                ></Label>
            </FlexboxLayout>
            <Button
                class="btn-primary"
                text="CREATE ACCOUNT"
                (tap)="checkTap()"
            ></Button>
            <FlexboxLayout
                class="mt-4 mb-4"
                alignItems="center"
                justifyContent="center"
            >
                <Label
                    class="text-mute"
                    text="Already have an account? "
                ></Label>
                <Label
                    class=""
                    text="Sign in"
                    textAlignment="center"
                    fontWeight="500"
                    (tap)="checkTap()"
                ></Label>
            </FlexboxLayout>
        </StackLayout>
    </FlexboxLayout>
</ScrollView>
