<!--The content below is only a placeholder and can be replaced.-->
<ActionBar title="Snapbots">
    <FlexboxLayout alignItems="center" justifyContent="center">
        <Image src="~/assets/images/logo.png"></Image>
    </FlexboxLayout>
</ActionBar>
<StackLayout class="p-20">
    <Button [nsRouterLink]="['/login']" text="login"></Button>
    <Button [nsRouterLink]="['/verify-code']" text="verify-code"></Button>
    <Button [nsRouterLink]="['/verify-phone']" text="verify-phone"></Button>
    <Button [nsRouterLink]="['/verify-email']" text="verify-email"></Button>
    <Button [nsRouterLink]="['/reset-password']" text="reset-password"></Button>
    <Button [nsRouterLink]="['/modal-success']" text="modal-success"></Button>
    <Button [nsRouterLink]="['/modal-error']" text="modal-error"></Button>
    <Button [nsRouterLink]="['/create-account']" text="create-account"></Button>
    <Button [nsRouterLink]="['/home-page']" text="home-page"></Button>
    <Button [nsRouterLink]="['/swap']" text="swap"></Button>
</StackLayout>
