/* Add mobile styles for the component here.  */
.rewards-chart {
    height: 300;
}
.rewards-chart-content {
    border-width: 1;
    border-color: #fff;
    border-radius: 20;
    height: 170;
}
.chart-report {
    .report-item {
        flex-grow: 1;
        flex-shrink: 0;
    }
}

.weekly-report {
    justify-content: space-between;
    background-color: #5d24bb;
    padding: 15 20;
    border-radius: 20 20 0 0;
    .currency-info {
        align-items: center;
        Image {
            width: 46;
            height: 46;
        }
        .caption {
            padding-left: 10;
        }
    }
    .report-rate {
        text-align: right;
    }
}
.report-detail {
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #302444;
    border-radius: 0 0 20 20;
    .report-item {
        flex-grow: 1;
        flex-shrink: 0;
        text-align: center;
    }
}
