<ActionBar title="SWAP" color="#fff">
    <NavigationButton class="fa" icon="font://&#xf104;"></NavigationButton>
    <!-- <ActionItem
        class="fa"
        icon="font://&#xf104;"
        ios.position="right"
    ></ActionItem> -->
</ActionBar>
<FlexboxLayout class="page-wrap">
    <StackLayout flexGrow="1">
        <ScrollView orientation="vertical">
            <FlexboxLayout flexDirection="column">
                <Label
                    class="container-fluid swap-title"
                    text="Choose Token"
                ></Label>
                <ScrollView orientation="horizontal" class="token-list">
                    <FlexboxLayout class="token-list-swipe">
                        <FlexboxLayout class="token-item active">
                            <Image
                                flexShrink="0"
                                class="token-img"
                                src="~/assets/images/ic-bitcoin.png"
                            >
                            </Image>
                            <StackLayout flexShrink="0" class="token-code">
                                <Label class="code1" text="BTC"></Label>
                                <Label class="code2" text="/USDT"></Label>
                            </StackLayout>
                            <StackLayout
                                flexGrow="1"
                                class="token-code"
                                textAlignment="right"
                            >
                                <Label class="code1" text="0.00000"></Label>
                                <Label class="code2" text="0.00000"></Label>
                            </StackLayout>
                        </FlexboxLayout>
                        <FlexboxLayout class="token-item">
                            <Image
                                flexShrink="0"
                                class="token-img"
                                src="~/assets/images/ic-bitcoin.png"
                            >
                            </Image>
                            <StackLayout flexShrink="0" class="token-code">
                                <Label class="code1" text="BTC"></Label>
                                <Label class="code2" text="/USDT"></Label>
                            </StackLayout>
                            <StackLayout
                                flexGrow="1"
                                class="token-code"
                                textAlignment="right"
                            >
                                <Label class="code1" text="0.00000"></Label>
                                <Label class="code2" text="0.00000"></Label>
                            </StackLayout>
                        </FlexboxLayout>
                        <FlexboxLayout class="token-item">
                            <Image
                                flexShrink="0"
                                class="token-img"
                                src="~/assets/images/ic-bitcoin.png"
                            >
                            </Image>
                            <StackLayout flexShrink="0" class="token-code">
                                <Label class="code1" text="BTC"></Label>
                                <Label class="code2" text="/USDT"></Label>
                            </StackLayout>
                            <StackLayout
                                flexGrow="1"
                                class="token-code"
                                textAlignment="right"
                            >
                                <Label class="code1" text="0.00000"></Label>
                                <Label class="code2" text="0.00000"></Label>
                            </StackLayout>
                        </FlexboxLayout>
                    </FlexboxLayout>
                </ScrollView>
                <Label
                    class="container-fluid swap-title"
                    text="Choose Swap"
                ></Label>
                <ScrollView orientation="horizontal" class="token-list">
                    <FlexboxLayout class="token-list-swipe">
                        <FlexboxLayout class="token-item active">
                            <Image
                                flexShrink="0"
                                class="token-img"
                                src="~/assets/images/ic-bitcoin.png"
                            >
                            </Image>
                            <StackLayout flexShrink="0" class="token-code">
                                <Label class="code1" text="BTC"></Label>
                                <Label class="code2" text="/USDT"></Label>
                            </StackLayout>
                            <StackLayout
                                flexGrow="1"
                                class="token-code"
                                textAlignment="right"
                            >
                                <Label class="code1" text="0.00000"></Label>
                                <Label class="code2" text="0.00000"></Label>
                            </StackLayout>
                        </FlexboxLayout>
                        <FlexboxLayout class="token-item">
                            <Image
                                flexShrink="0"
                                class="token-img"
                                src="~/assets/images/ic-bitcoin.png"
                            >
                            </Image>
                            <StackLayout flexShrink="0" class="token-code">
                                <Label class="code1" text="BTC"></Label>
                                <Label class="code2" text="/USDT"></Label>
                            </StackLayout>
                            <StackLayout
                                flexGrow="1"
                                class="token-code"
                                textAlignment="right"
                            >
                                <Label class="code1" text="0.00000"></Label>
                                <Label class="code2" text="0.00000"></Label>
                            </StackLayout>
                        </FlexboxLayout>
                        <FlexboxLayout class="token-item">
                            <Image
                                flexShrink="0"
                                class="token-img"
                                src="~/assets/images/ic-bitcoin.png"
                            >
                            </Image>
                            <StackLayout flexShrink="0" class="token-code">
                                <Label class="code1" text="BTC"></Label>
                                <Label class="code2" text="/USDT"></Label>
                            </StackLayout>
                            <StackLayout
                                flexGrow="1"
                                class="token-code"
                                textAlignment="right"
                            >
                                <Label class="code1" text="0.00000"></Label>
                                <Label class="code2" text="0.00000"></Label>
                            </StackLayout>
                        </FlexboxLayout>
                    </FlexboxLayout>
                </ScrollView>
                <Label
                    class="container-fluid swap-title"
                    text="Send Amount"
                ></Label>
                <StackLayout class="container-fluid">
                    <FlexboxLayout class="exchange-box mb-2" width="100%">
                        <FlexboxLayout class="exchange-field">
                            <TextField
                                class="exchange-input"
                                hint=""
                                text="100.0"
                                flewGrow="1"
                            ></TextField>
                            <Label
                                class="exchange-label"
                                text="SNAP"
                                flexShrink="0"
                            ></Label>
                        </FlexboxLayout>
                        <FlexboxLayout class="exchange-field">
                            <TextField
                                class="exchange-input"
                                hint=""
                                text="2.1450"
                                flewGrow="1"
                            ></TextField>
                            <Label
                                class="exchange-label"
                                text="BTC"
                                flexShrink="0"
                            ></Label>
                        </FlexboxLayout>
                    </FlexboxLayout>
                    <Label
                        class="text-mute"
                        text="Rate: 1 Snap = 0.00000739 BTC"
                    ></Label>
                    <Label class="text-mute mb-2" text="Fee: 0.0005 BTC"></Label>
                    <FlexboxLayout class="form-group-inline mb-2">
                        <Label text="Google Auth. code" flexShrink="0"></Label>
                        <TextField
                            class="form-control form-control-sm"
                            hint=""
                            text=""
                            flewGrow="1"
                        ></TextField>
                    </FlexboxLayout>
                    <Label
                        class="text-xs text-error mb-4"
                        whiteSpace="normal"
                        text="* Notice: if you have not activated Google Authenticator, please active Google Authenticator to enable send in Account Settings"
                    ></Label>
                    <StackLayout class="btn-wrap mb-3">
                        <Button class="btn-primary active" text="SWAP"></Button>
                    </StackLayout>
                </StackLayout>
            </FlexboxLayout>
        </ScrollView>
    </StackLayout>
    <StackLayout flexShrink="0">
        <app-nav></app-nav>
    </StackLayout>
</FlexboxLayout>
