.form-group {
}

.form-control {
    font-size: 16;
    font-weight: 500;
    border-radius: 1000px;
    padding: 15 25;
    color: #cdcdcd;
    background: #393939;
    placeholder-color: rgba(255, 255, 255, 0.2);
}
