.form-group {
}

.form-group-inline {
    Label {
        padding: 7 20 7 0;
        opacity: 0.5;
    }
    .form-control {
        width: 100%;
    }
}

.form-control {
    font-size: 16;
    font-weight: 500;
    border-radius: 1000px;
    padding: 15 25;
    color: #cdcdcd;
    background: #393939;
    placeholder-color: rgba(255, 255, 255, 0.2);
    &.form-control-sm {
        padding: 10 25;
    }
}

.checkbox {
    flex-direction: row;
    align-items: center;
    align-content: center;
    .checkbox-square {
        width: 16;
        height: 16;
        border-width: 1;
        border-style: solid;
        border-color: #fff;
        border-radius: 2;
        margin-right: 10;
    }
    .checkbox-active {
        background-color: #fff;
        margin: 2;
        opacity: 0;
    }
    label {
        color: #808080;
    }
    &.active {
        .checkbox-active {
            opacity: 1;
        }
    }
}

.form-control-nation {
    width: 120;
    padding: 15 25;
    Label {
        color: #cdcdcd;
        font-size: 16;
        font-weight: 500;
        margin-left: 10;
    }
    TextField {
        background: none;
        border-width: 0;
        border-color: #393939;
        background: #393939;
        padding: 0 0;
        font-size: 16;
        font-weight: 500;
        line-height: 16;
        margin-left: 10;
        placeholder-color: rgba(255, 255, 255, 0.2);
    }
}

.nation-select {
    background-color: #393939;
    .nation-select-item {
        Image {
        }
        Label {
            margin-left: 10;
        }
    }
}

.form-control-qr {
    padding: 15 25;
    TextField {
        background: none;
        border-width: 0;
        border-color: #393939;
        background: #393939;
        padding: 0 0;
        font-size: 16;
        font-weight: 500;
        line-height: 16;
        margin-left: 10;
        placeholder-color: rgba(255, 255, 255, 0.2);
    }
    Label {
        color: #cdcdcd;
        font-size: 18;
        font-weight: 500;
    }
}
