ActionBar {
    background-color: #242424;
    // height: 60;
    Image {
        height: 30;
    }
    NavigationButton {
        color: #fff;
    }
    .fa {
        font-size: 10;
    }
    .page-name {
        font-size: 18;
        font-weight: 500;
        text-transform: uppercase;
        color: #fff;
    }
}

.page-wrap {
    flex-direction: column;
    background-color: #242424;
}
