Label {
    font-size: 16;
    color: #fff;
}

.title {
    font-size: 20;
    font-weight: bold;
}

.text-xs {
    font-size: 10;
}

.text-white {
    color: #fff;
}
.text-mute {
    color: #848484;
}
.text-error {
    color: #961111;
}
