<ActionBar title="Snapbots">
    <FlexboxLayout alignItems="center" justifyContent="center">
        <Image src="~/assets/images/logo.png"></Image>
    </FlexboxLayout>
</ActionBar>
<FlexboxLayout
    flexDirection="column"
    flexWrap="nowrap"
    justifyContent="space-between"
    backgroundColor="#242424"
>
    <StackLayout class="container verify-page">
        <Label class="title" textAlignment="center" text="VERIFY YOUR"></Label>
        <Label
            class="title"
            textAlignment="center"
            text="GOOGLE AUTHENTICATOR CODE"
        ></Label>
        <StackLayout class="input-code-wrap">
            <FlexboxLayout alignItems="center" justifyContent="space-between">
                <TextField
                    class="input-code"
                    color="#333"
                    backgroundColor="#fff"
                ></TextField
                ><TextField
                    class="input-code"
                    color="#333"
                    backgroundColor="#fff"
                ></TextField
                ><TextField
                    class="input-code"
                    color="#333"
                    backgroundColor="#fff"
                ></TextField
                ><TextField
                    class="input-code"
                    color="#333"
                    backgroundColor="#fff"
                ></TextField
                ><TextField
                    class="input-code"
                    color="#333"
                    backgroundColor="#fff"
                ></TextField
                ><TextField
                    class="input-code"
                    color="#333"
                    backgroundColor="#fff"
                ></TextField>
            </FlexboxLayout>
            <label
                text="Enter the code to verify your account."
                textAlignment="center"
                color="#464646"
                style="margin-top: 15;"
            ></label>
        </StackLayout>
    </StackLayout>
    <StackLayout class="container">
        <Button class="btn-primary" text="Verify"></Button>
        <Label
            class="mt-4 mb-4"
            text="Back to Sign in"
            textAlignment="center"
        ></Label>
    </StackLayout>
</FlexboxLayout>
<!-- <Button text="verify-code works!" class="btn btn-primary"></Button> -->
