<FlexboxLayout class="banner-wrap {{options.class}}">
    <Carousel
        #myCarousel
        debug="false"
        [items]="banners"
        width="100%"
        height="240"
        color="white"
        (pageChanged)="myChangePageEvent($event)"
        android:indicatorAnimation="slide"
        indicatorColor="#fff"
        indicatorOffset="0, 0"
        showIndicator="true"
    >
        <CarouselItem
            *ngFor="let item of banners"
            verticalAlignment="middle"
            (tap)="myTapPageEvent()"
        >
            <StackLayout class="container-fluid">
                <Image [src]="item.src"></Image>
            </StackLayout>
        </CarouselItem>
    </Carousel>
</FlexboxLayout>