<FlexboxLayout class="nav">
    <FlexboxLayout class="nav-item" flexDirection="column">
        <Image src="~/assets/images/ic1.png"></Image>
        <Label text="Home"></Label>
    </FlexboxLayout>
    <FlexboxLayout class="nav-item" flexDirection="column">
        <Image src="~/assets/images/ic2.png"></Image>
        <Label text="Wallet"></Label>
    </FlexboxLayout>
    <FlexboxLayout class="nav-item" flexDirection="column">
        <Image src="~/assets/images/ic3.png"></Image>
        <Label text="Performance"></Label>
    </FlexboxLayout>
    <FlexboxLayout class="nav-item" flexDirection="column">
        <Image src="~/assets/images/ic4.png"></Image>
        <Label text="Affiliate"></Label>
    </FlexboxLayout>
    <FlexboxLayout class="nav-item" flexDirection="column">
        <Image src="~/assets/images/ic5.png"></Image>
        <Label text="Account"></Label>
    </FlexboxLayout>
</FlexboxLayout>
