
.swap-title {
    // color: #3f3f3f;
    font-size: 14;
    margin-bottom: 10;
    opacity: 0.5;
}
.token-list {
    margin-bottom: 10;
    .token-list-swipe {
    }
    .token-item {
        width: 250;
        align-items: center;
        background-color: #262626;
        padding: 15;
        + .token-item {
            margin-left: 10;
        }
        &.active {
            background-color: #2f2f2f;
            .token-img {
                opacity: 1;
            }
            .token-code {
                opacity: 1;
            }
        }
        .token-img {
            width: 60;
            height: 60;
            opacity: 0.3;
        }
        .token-code {
            opacity: 0.3;
            padding-left: 10;
            .code1 {
                font-size: 18;
                line-height: 18;
                font-weight: 500;
            }
            .code2 {
                font-size: 13;
            }
            + .token-code {
                text-align: right;
            }
        }
    }
}

.icon-exchange-wrap {
    width: 100%;
    justify-content: flex-end;
    padding-right: 20;
    .fa {
        transform: rotate(90deg);
        color: #9c9c9c;
    }
}

.exchange-box {
    flex-direction: column;
    background-color: #3a3a3a;
    border-radius: 15;
    padding: 0 10;
    .exchange-field {
        align-items: center;
        justify-content: space-between;
        + .exchange-field {
            border-top-width: 2;
            border-top-color: #575757;
        }
        .exchange-input {
            border-width: 0;
            color: #fff;
            background-color: transparent;
            font-size: 20;
            padding: 15;
        }
        .exchange-label {
            color: #9c9c9c;
            font-size: 20;
            font-weight: 500;
            width: 80;
            text-align: center;
        }
    }
}
