<ActionBar title="PERFORMANCE" color="#fff">
    <NavigationButton class="fa" icon="font://&#xf104;"></NavigationButton>
    <!-- <ActionItem
        class="fa"
        icon="font://&#xf104;"
        ios.position="right"
    ></ActionItem> -->
</ActionBar>
<FlexboxLayout class="page-wrap">
    <FlexboxLayout
        flexDirection="column"
        justifyContent="space-between"
        flexGrow="1"
    >
        <StackLayout flexGrow="1">
            <ScrollView>
                <StackLayout class="container">
                    <Label class="title mb-2" text="SNAP/wk 1.00%"></Label>
                    <RadCartesianChart
                        tkExampleTitle
                        tkToggleNavButton
                        height="200"
                        class="mb-3"
                    >
                        <CategoricalAxis
                            tkCartesianHorizontalAxis
                        ></CategoricalAxis>
                        <LinearAxis tkCartesianVerticalAxis></LinearAxis>
                        <LineSeries
                            tkCartesianSeries
                            [items]="categoricalSource"
                            categoryProperty="Country"
                            valueProperty="Amount"
                        ></LineSeries>
                    </RadCartesianChart>
                    <Label class="title mb-2" text="SNAP/wk 1.00%"></Label>
                    <RadCartesianChart
                        tkExampleTitle
                        tkToggleNavButton
                        height="200"
                        class="mb-3"
                    >
                        <CategoricalAxis
                            tkCartesianHorizontalAxis
                        ></CategoricalAxis>
                        <LinearAxis tkCartesianVerticalAxis></LinearAxis>
                        <LineSeries
                            tkCartesianSeries
                            [items]="categoricalSource"
                            categoryProperty="Country"
                            valueProperty="Amount"
                        ></LineSeries>
                    </RadCartesianChart>
                    <Label class="title mb-2" text="SNAP/wk 1.00%"></Label>
                    <RadCartesianChart
                        tkExampleTitle
                        tkToggleNavButton
                        height="200"
                        class="mb-3"
                    >
                        <CategoricalAxis
                            tkCartesianHorizontalAxis
                        ></CategoricalAxis>
                        <LinearAxis tkCartesianVerticalAxis></LinearAxis>
                        <LineSeries
                            tkCartesianSeries
                            [items]="categoricalSource"
                            categoryProperty="Country"
                            valueProperty="Amount"
                        ></LineSeries>
                    </RadCartesianChart>
                </StackLayout>
            </ScrollView>
        </StackLayout>
        <StackLayout class="container pt-3 pb-3" flexShrink="0">
            <Button
                class="btn-primary active"
                text="SEE WEEKLY PERFORMANCE"
            ></Button>
        </StackLayout>
    </FlexboxLayout>
    <StackLayout flexShrink="0">
        <app-nav></app-nav>
    </StackLayout>
</FlexboxLayout>
