<ActionBar title="Snapbots">
    <FlexboxLayout alignItems="center" justifyContent="center">
        <Image src="~/assets/images/logo.png"></Image>
    </FlexboxLayout>
</ActionBar>
<FlexboxLayout
    flexDirection="column"
    flexWrap="nowrap"
    justifyContent="space-between"
    backgroundColor="#242424"
>
    <StackLayout class="container verify-page">
        <Label
            class="title"
            textAlignment="center"
            text="VERIFY YOUR PHONE NUMBER"
        ></Label>
        <StackLayout class="input-code-wrap">
            <FlexboxLayout alignItems="center" justifyContent="space-between">
                <TextField
                    class="input-code"
                    color="#333"
                    backgroundColor="#fff"
                ></TextField
                ><TextField
                    class="input-code"
                    color="#333"
                    backgroundColor="#fff"
                ></TextField
                ><TextField
                    class="input-code"
                    color="#333"
                    backgroundColor="#fff"
                ></TextField
                ><TextField
                    class="input-code"
                    color="#333"
                    backgroundColor="#fff"
                ></TextField
                ><TextField
                    class="input-code"
                    color="#333"
                    backgroundColor="#fff"
                ></TextField
                ><TextField
                    class="input-code"
                    color="#333"
                    backgroundColor="#fff"
                ></TextField>
            </FlexboxLayout>
        </StackLayout>
        <label
            text="A 6 digit OTP has been sent to your phone number."
            textAlignment="center"
            whiteSpace="normal"
            class="text-mute"
        ></label>
        <label
            text="Enter the code to verify your account."
            textAlignment="center"
            whiteSpace="normal"
            class="text-mute"
        ></label>
    </StackLayout>
    <StackLayout class="container">
        <FlexboxLayout class="mb-4" alignItems="center" justifyContent="center">
            <Label class="text-mute" text="Didn't get verify code? "></Label>
            <Label class="text-white" text="Resend Code"></Label>
        </FlexboxLayout>
        <Button class="btn-primary" text="Verify"></Button>
        <Label
            class="text-mute mt-4 mb-4"
            text="Skip verification for now"
            textAlignment="center"
        ></Label>
    </StackLayout>
</FlexboxLayout>
<!-- <Button text="verify-code works!" class="btn btn-primary"></Button> -->
