.verify-page {
    padding-top: 60;
}
.back-signin {
    margin: 20 0;
}
.input-code-wrap {
    margin: 25 auto;
    width: 350;
}
.input-code {
    border-radius: 10;
    background-color: #fff;
    width: 46;
    padding: 7 0;
    font-size: 24;
    font-weight: 700;
    text-align: center;
}
